*
{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  transform: scale(1.05);
  z-index: -1;
} */

.back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(7px);

}

.out {
  width: 410px;
  height: 510px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.out-plain {
  width: 410px;
  height: 510px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(45deg, #0422ff, #f5f1e8);
}

#otp_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Animated border */
.out::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%; 
  background: linear-gradient(
    0deg,
    transparent,
    #45f3ff,
    #003cff,
    #0015ff,
    #1e7cff
  );
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}


@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


h2 {
  font-size: 30px;
}

.inner_box {
  position: relative;
  inset: 3px;
  background: linear-gradient(45deg, #0422ff, #f5f1e8);
  border-radius: 18px;
  /* box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 505px;
}

.link {
  position: fixed;
  top: 25px;
  right: 25px;
  color: rgb(103, 102, 102);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.868);
  padding: 8px 18px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 10;
  backdrop-filter: blur(4px);
}

.link:hover {
  background: aqua;
  color: #063ff7;
  transition: 0.4s;
}

.input-container {
    width: 250px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: text;
}

.input-container span {
    position: absolute;
    left: 13x;
    top: 0px;
    transition: transform 0.5s ease, font-size 0.5s ease;
    pointer-events: none;
}

.item {
    width: 250px;
    height: 2px;
    border: none;
    border-radius: 15px;
    transition: height 0.5s ease;
}

.item:focus,
.item:valid,
.item:hover
{
  transition: 1s;
  height: 40px;

}

.input-container:focus-within span,
.input-container:hover span
{
    transform: translateY(-25px);
    font-size: 15px;
}

.input-container:has(.item:valid) span {
    transform: translateY(-25px);
    font-size: 15px;
}

.submit {
  border: none;
  background-color: #063ff7;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;

  padding: 20px 70px;
  margin-top: 0px;
}

.submit:hover {
  background-color: aqua;
  transition: 0.7s;
}